extends layout

block header
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/modernizr.js")
  script(src="http://code.jquery.com/jquery-2.1.1.js")
  script.
    $(function() {
      var socket = io();
      var message_check_buffer = [],
        message_duplicate_guards = {},
        joined_users = {},
        active_users = {};

      if (Modernizr.geolocation) {
        navigator.geolocation.watchPosition(function(position) {
          console.log(position);
          socket.emit('geolocation', position);
        }, function(error) {
          if(error.code === 1) {
            // user sez no
          }
        }, { enableHighAccuracy: true });
      }

      $('form').submit(function(e) {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        e.preventDefault();
      });

      socket.on('chat message', function(msg) {
        console.log(JSON.stringify(msg));
        if(!message_duplicate_guards[msg.duplicate_guard]) {
          message_duplicate_guards[msg.duplicate_guard] = true;
          message_check_buffer.push(msg.duplicate_guard);
          if(message_check_buffer.length > 10)
            delete message_duplicate_guards[message_check_buffer.shift()];
          $('#messages')
            .append($('<li>')
              .append(
                $('<span>').text(msg.username),
                $('<span>').text(msg.body)));
        }
      });

      socket.on('join room', function(msg) {
        console.log(JSON.stringify(msg));
        if(msg.username in joined_users)
         {
          clearTimeout(joined_users[msg.username]);
         }
          joined_users[msg.username] = setTimeout(function() {
                if(!(msg.username in active_users)) {
                                      $('#messages')
                                        .append($('<li>')
                                          .append(
                                            $('<span>').text(msg.username + ' joined.')));  active_users[msg.username] = true; 
                                    }}, 100);

        //- if(!message_duplicate_guards[msg.duplicate_guard]) {
        //-   message_duplicate_guards[msg.duplicate_guard] = true;
        //-   message_check_buffer.push(msg.duplicate_guard);
        //-   if(message_check_buffer.length > 10)
        //-     delete message_duplicate_guards[message_check_buffer.shift()];

        //- }
      });

      socket.on('leave room', function(msg) {
        console.log(JSON.stringify(msg));
        if(msg.username in joined_users)
         {
          clearTimeout(joined_users[msg.username]);
         }
          joined_users[msg.username] = setTimeout(function() {
                if((msg.username in active_users)) {
                      $('#messages')
                        .append($('<li>')
                          .append(
                            $('<span>').text(msg.username + ' left.'))); delete active_users[msg.username]; }
                    }, 100);

        //- if(!message_duplicate_guards[msg.duplicate_guard]) {
        //-   message_duplicate_guards[msg.duplicate_guard] = true;
        //-   message_check_buffer.push(msg.duplicate_guard);
        //-   if(message_check_buffer.length > 10)
        //-     delete message_duplicate_guards[message_check_buffer.shift()];
        //-   $('#messages')
        //-     .append($('<li>')
        //-       .append(
        //-         $('<span>').text(msg.username + ' joined.')));
        //- }
      });
    });

block content
  ul#messages
  form
    input#m(autocomplete="off")
    input(type="submit" value="Send")
