extends layout

block header
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/modernizr.js")
  script(src="http://code.jquery.com/jquery-2.1.1.js")
  script.
    $(function() {
      var socket = io();

      if (Modernizr.geolocation) {
        navigator.geolocation.watchPosition(function(position) {
          console.log(position);
          socket.emit('geolocation', position);
          setTimeout(emit_geolocation, 1000);
        }, function(error) {
          if(error.code === 1) {
            // user sez no
          }
        }, { enableHighAccuracy: true });
      }

      $('form').submit(function(e) {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        e.preventDefault();
      });

      socket.on('chat message', function(msg) {
        $('#messages')
          .append($('<li>')
          .append(
            $('<span>').text(msg.username),
            $('<span>').text(msg.body)));
      });
    });

block content
  h1= title
  ul#messages
  form
    input#m(autocomplete="off")
    input(type="submit" value="Send")
