<html>
<head></head>
<body>
    <table><tbody>
        <tr><td>id</td><td>{{ player.id }}</td></tr>
        <tr><td>active</td><td>{{ player.active }}</td></tr>
        <tr><td>geolocation_latitude</td><td>{{ player.geolocation_latitude }}</td></tr>
        <tr><td>geolocation_longitude</td><td>{{ player.geolocation_longitude }}</td></tr>
        <tr><td>geolocation_accuracy</td><td>{{ player.geolocation_accuracy }}</td></tr>
        <tr><td>geolocation_sync_time</td><td>{{ player.geolocation_sync_time }}</td></tr>

        <tr><td>level</td><td>{{ player.level }}</td></tr>
        <tr><td>current_exp</td><td>{{ player.current_exp }}</td></tr>
        <tr><td>exp_to_next</td><td>{{ player.exp_to_next }}</td></tr>

        <tr><td>max_hp</td><td>{{ player.max_hp }}</td></tr>
        <tr><td>strength</td><td>{{ player.strength }}</td></tr>
        <tr><td>constitution</td><td>{{ player.constitution }}</td></tr>
        <tr><td>dexterity</td><td>{{ player.dexterity }}</td></tr>
        <tr><td>intelligence</td><td>{{ player.intelligence }}</td></tr>
        <tr><td>wisdom</td><td>{{ player.wisdom }}</td></tr>
        <tr><td>charisma</td><td>{{ player.charisma }}</td></tr>

        <tr><td>golds</td><td>{{ player.golds }}</td></tr>
        <tr><td>current_hp</td><td>{{ player.current_hp }}</td></tr>

        <tr><td>last_action_time</td><td>{{ player.last_action_time }}</td></tr>
        <tr><td>last_death_time</td><td>{{ player.last_death_time }}</td></tr>
    </tbody></table>
</body>
</html>